<% polygen_name = polygen("polygen.grm") %>
<% content_for :title, polygen_name + " Questions" %>
<% content_for :description do %>My Description<% end %>

<div class="row">
<p class="lead"><%= polygen("progressreport.grm") %></h2>
</div>
