<% polygen_name = polygen("polygen.grm") %>
<% content_for :title, polygen_name + " Questions" %>
<% content_for :description do %>My Description<% end %>

<h1>Generator of progress report questions</h1>
<p class="bottom-space">Results vary from boringly nonsensical to creepily accurate.</p>
<p><a href="javascript:window.location.reload()">Reload</A> to get a new question.</p>
<h2 class="bottom-space"><%= polygen("progressreport.grm") %></h2>
